
:root {
  --primary-pink: #ffa4b9;
  --primary2: #f1e7e7;
  --primary3: rgba(51, 51, 52, 0.829);
  
}


/*font-family: "Hachimaru Pop", sans-serif;*/

/* Styles applied directly to HTML tags */
body { 
  margin: 0;
  padding:0 ;
  display: flex;
  background-color: var(--primary-pink);
  justify-content: center;
  align-items: center;
  color: var(--primary2);
  
}

p {
  font-family: "Indie Flower", cursive;
  font-size: 1.25rem;
}

h1 {
  font-family: "Hachi Maru Pop", cursive;

}

h2 { 
  font-family:"Hachi Maru Pop", cursive;
}

.centered-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color:var(--primary3);*/
  box-sizing: border-box;
  width: 60%;
  /*height: 100vh;*/
  padding: 20px;

  text-align: center;

}

.black-box {
  background-color:var(--primary3);
  box-sizing: border-box;
  width: 60%;
  height: 100vh;
  padding: 20px;
  position: fixed;
  z-index: -1;


}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
  max-width: 85%;
  
}

.grid-child {
  display: grid;
  place-items: center;
  padding: 10px;

}
/* 
.flex-container {
  display: flex;
  background-color: var(--primary2);
  width: 70%;
  gap: 40px;
  border-radius: 20px;
  

}

.flex-child {
  align-items: center;
  justify-content: center;
  flex: 1; 
  padding: 15px 15px 15px 15px;

}
*/




/* id selectors */

#pfp {
  border-radius: 10px;
  outline: 3px dashed var(--primary-pink);
  outline-offset: 6px;
}

/* ----------------------------------------------------
   2. CLASS SELECTORS 
   ---------------------------------------------------- */
/* Used to style specific elements. In CSS, classes start with a dot (.) */
.main-button {
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;          /* Space inside the button */
  border: none;
  border-radius: 5px;          /* Rounds the corners */
  cursor: pointer;             /* Changes cursor to a hand on hover */
}



/* ----------------------------------------------------
   3. ID SELECTORS
   ---------------------------------------------------- */
/* Used for a single, unique element on the page. IDs start with a hashtag (#) */


/* ----------------------------------------------------
   4. HOVER STATES & PSEUDO-CLASSES
   ---------------------------------------------------- */
/* Changes styles when a user interacts with an element */
.main-button:hover {
  background-color: #e64a19;   /* Darkens the button when hovered */
}



