
:root {
  --primary-pink: #ffa4b9;
  --primary2: #f1e7e7;
  --primary3: rgba(72, 62, 65, 0.916);
  --solidprimary3: #654455;
  
}


/*font-family: "Hachi maru Pop", sans-serif;*/

/* Styles applied directly to HTML tags */
body { 
  margin: 0;
  padding:0 ;
  display: flex;
  background-image: linear-gradient(#f67cab50,#e2458752), url("placeholder-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  color: var(--primary2);
  
}

p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
}

h1, h2 {
  font-family: "Lilita One", sans-serif;

}

.custom-header {
  margin-bottom: 40px;
}



.handwritten {
  font-family: "Indie Flower", cursive;
}
.centered-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color:var(--primary3);*/
  box-sizing: border-box;
  width: 60%;
  /*height: 100vh;*/
  padding: 20px;
  position: relative;
  z-index: 1;


  text-align: center;

}

.black-box {
  background-color:var(--primary3);
  width: 60vw;
  height: 100vh;
  position: fixed;
  top:0;
  left:50%;
  transform: translateX(-50%);
  z-index: 0;
  outline: 2px solid white ;
  

}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
  max-width: 85%;
  
}

.grid-child {
  display: grid;
  place-items: center;
  padding: 10px;

}

.flex-container {
  display: flex;
  background-color: var(--primary2);
  width: 90%;
  gap: 15px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.flex-child {
  align-items: center;
  justify-content: center;
  flex: 1; 
  padding: 15px 15px 15px 15px;
}


.card {
  display:grid;
  grid-template-columns: 3fr, 2fr;
  gap:10px;
  max-width: 90%;
  border-radius: 15px;
  background-color: var(--primary2);
  color: var(--solidprimary3);
}

.nav-button {
  background-color: var(--primary-pink);
  color: white;
  font-family: "Space Grotesk", sans-serif;
  padding: 10px 20px;          /* Space inside the button */
  border: var(--primary2) 2px;
  border-radius: 5px;          /* Rounds the corners */
  cursor: pointer;             /* Changes cursor to a hand on hover */
}



/* id selectors */

#pfp {
  border-radius: 10px;
  outline: 3px dashed var(--primary-pink);
  outline-offset: 6px;
}


/*hover states */
.nav-button:hover {
  background-color: #e23b80;   /* Darkens the button when hovered */
}



